
nav{
    margin-left: 550px;
    font-size: 50px;
    margin-top: 20px;
}


nav ul { list-style-type: none; }

nav li { display: inline; }

nav a { text-decoration: none; padding-right: 10px; }
/* navigation_toggle */

*{
    padding: 0; border: 0; margin: 0; 
    box-sizing: border-box;
    list-style-type: none; /* Styled in normalize.css */
    text-decoration: none;
    color: #ccc;
}

body{
    background-color: rgb(50, 101, 134);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 1550px;
    padding-top: .5rem;
    width: 93%;

}

.main-header a{
    letter-spacing: .18rem;
    text-transform: uppercase;
}

.masthead{
    /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
    position: relative;
    z-index: 1000;
    /********************************/
    top: 0;
    left: 0;
    width: 100%;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
}

.masthead h1{
    transition-delay: 450ms;
   
}

.masthead > h1 > a{  margin-left: 0px; }
.menu-toggle{
    cursor: pointer;
    width: 55px;
    z-index: 3;
}

.menu-toggle div{
    background-color: #ccc;
    border-radius: 25px;
    box-shadow: 0px 3px 13px rgba(0,0,0,.08);
    height: 7px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.13,.24,.35,1.64);
}

.menu-toggle .one,
.menu-toggle .two{
    margin-bottom: 7px;
}

.main-contents{
    flex: auto;
}

.main-contents p{
          color: #ccc;
          transition-delay: 150ms;
     transition-duration: 850ms;
}

.main-contents h2{
    letter-spacing: 1.5px;
    margin-bottom: .6rem;
    text-transform: uppercase;
}

.main-contents p{
    font-size: 1.1rem;
    letter-spacing: 1.7px;
    line-height: 1.35;
    margin-bottom: 1rem;
}

/*** Just getting silly now ***************************/
.main-footer span{
               color: #ccc;
     transition-delay: 150ms;
     transition-duration: 1350ms;
}

/*********************************************/
.main-footer{
    font-size: .9em;
    letter-spacing: .18rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}


/************* Style and animate the nav overlay ***********************/
.main-nav-list::before,
.main-nav-list::after{
    background-color:#b94071;
    content:"";
    position: absolute;
    top: 0;
    height: 100vh;
    width: 0vw;
    transition: all 100ms ease-in-out 300ms;
}

.main-nav-list::before{
    left: 0;
}
.main-nav-list::after{
    right: 0;
}

.main-nav-list ul{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    z-index: 2000;
}

.main-nav-list a{
    display: block;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
    opacity: 0;
    text-align: center;
    text-transform: uppercase;
    transition-delay: 130ms;
}

.main-nav-list .mobile-hide{/** Hide the link when viewing site on mobile devices. **/
    display: none;
}

/************* Style the nav elements when active. ***********************/
.masthead.active h1{
    text-shadow: 0px 3px 3px rgba(0,0,0,.4);
}

.menu-toggle.active .one{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0, 14px) rotate(45deg);
}

.menu-toggle.active .two{
    background-color: transparent;
    box-shadow: none;
    transform: translateX(-55px);
}

.menu-toggle.active .three{
    box-shadow: 0px 3px 13px rgba(0,0,0,.4);
    transform: translate(0,-14px) rotate(-45deg);
}

.main-nav-list.active::before,
.main-nav-list.active::after{
    width: 25vw;
    transition-duration: 100ms;
}
.main-nav-list.active ul{
    top: 50%;
    transform: translate(-50%,-50%);
    transition-delay: 560ms;
    transition-duration: 240ms;
    transition-timing-function: cubic-bezier(.1, .2, .3, 1.4);
}

.main-nav-list.active a{
    transition-delay: 600ms;
    opacity: 1;
}


/*** Just getting silly now ***************************/
.wrapper.active p{
     color: rgb(50, 101, 134);
               transition-delay: 150ms;
     transition-duration: 350ms;
}

.main-footer.active span{
     color: rgb(50, 101, 134);
          transition-duration: 350ms;
}



/* image_slider */
img{
    width: 100%;
    height: 580px;
}

#slider{
    width: 1000px;
    height: 600px;
    margin: 40px auto;
    position: relative;
    border: 10px solid white;;
    box-shadow: 0px 0px 5px 2px #000000;
}

button{
    padding: 20px;
    border: none;
    background: rgb(124, 171, 202);
    font-size: 30px;
    color: white;
    position: absolute;
    top: 45%;
}

.next{
    border-radius: 10px 0px 0px 10px;
    margin-left: 950px;
}

.prev{
    border-radius: 0px 10px 10px 0px;
}


/* form_validation */
#contact_us{
    padding: 0;
    margin: 0;
    font-family: arial, "helvetica";
  }
  h1{
      color:rgb(7, 18, 29);
      text-align: center;
  }
  .form-signup{
    display: block;
    width: 400px;
    min-height:400px;
    padding: 30px 20px 10px 20px;
    background: lightskyblue;
    margin: 0 auto;
    margin-top:50px;
    border-radius: 10px;
   
  }
  .form-signup a{
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .form-signup label{
    margin-top: 0;
    display: block;
    color: #000000;
  }
  .form-signup input{
    border: none;
    border-bottom: 2px solid #378cc0;
    background: none;
    color: darkgreen;
    float: right;
    margin-right: 5px;
  }
  
  .form-signup input[type=submit]{
    border: none;
    background: green;
    color: rgb(11, 41, 46);
    font-weight: bold;
    border-radius: 0px;
    cursor: pointer;
    padding: 5px 12px;
    float: right;
    margin-top: 10px;
    display: block;
    margin-right: 13px;
  }
   
  .form-head{ margin-top: 100px;}
